<div class="row" *ngIf="result">
    <div class="col-md-9">
        <h1 class="text-center pt-5">{{title}}</h1>
        <div class="row d-flex justify-content-center">
            <div class="col-md-4" *ngFor="let item of result.results">
                <div class="card">
                    <a href="#">
                        <div class="img1" style="background-image: url({{imagePath}}{{item.poster_path}});"></div>
                        <div class="img2" style="background-image: url({{imagePath}}{{item.poster_path}});">
                        </div>
                        <div class="title">{{item.original_title}}</div>
                        <div class="text">{{item.overview.length>0? item.overview.substr(0,120)+"...":""}}</div>
                        <a>
                            <div class="catagory">{{item.release_date }}
                                <i class="fa-regular fa-calendar-days fa-lg" style="color: #000000;"></i>
                            </div>
                        </a>
                        <a>
                            <div class="views"> {{item.vote_average }} / 10
                                <i class="fa-brands fa-imdb fa-lg" style="color: #000000;"></i>
                            </div>
                        </a>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-white">
                        <div class="row p-3 pt-4 d-flex justify-content-center">
                            <div *ngFor="let item of pageList"
                                [ngClass]="{'bg-light text-dark': item==currentPageNo, 'bg-secondary text-white': item!=currentPageNo }"
                                class="container btn h4 col-md-3  mt-1 mb-2 mx-2 d-flex justify-content-center align-items-center"
                                style="width: 4.5rem; height: 4.5rem;" (click)="getMovies(item)">
                                {{item}}
                            </div>
                        </div>
                        <div class="row p-3 d-flex justify-content-center">
                            <div class="container rounded-3 col-md-3 bg-secondary text-white mt-1 mb-2 mx-2 d-flex justify-content-center align-items-center"
                                style="width: 4.5rem; height: 4.5rem;">
                                {{currentPageNo}}/{{totalPageCount}}
                            </div>
                            <div class="container btn bg-secondary text-white col-md-3 mt-1 mb-2 mx-2 d-flex justify-content-center align-items-center"
                                style="width: 4.5rem; height: 4.5rem;" (click)="getMovies(currentPageNo-1)"
                                [ngClass]="{'disabled':currentPageNo==1}">
                                Önceki
                            </div>
                            <div class="container btn col-md-3 bg-secondary text-white mt-1 mb-2 mx-2 d-flex justify-content-center align-items-center"
                                style="width: 4.5rem; height: 4.5rem;" (click)="getMovies(currentPageNo+1)" [ngClass]="{'disabled':currentPageNo==totalPageCount}">
                                Sonraki
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md mt-5" >
        <app-genre-list></app-genre-list>
    </div>
</div>