@use "../../../styles.scss" as styles;

.dropdown-menu {
    display: none;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

body {
    .navbar {
        background-color: styles.$main-color;
    }

    .navbar-nav>li>a,
    .navbar-brand {
        color: styles.$light-color;
    }

}