$dark-bg-color: #222E40;
$dark-color: #111B21;
$light-color: rgb(255, 255, 255);
$main-color:#042f52;
.dark-bg-color{
  background-color: $dark-bg-color !important;
}

.dark-color {
  color: $dark-color !important;
}

.light-color {
  color: $light-color !important;
}

body.dark-mode {
  background-color: $dark-bg-color !important;
  color: $light-color !important;

  .navbar-brand,
  .navbar-nav .nav-link {
    color: $light-color !important;
  }

  .navbar {
    background-color: $dark-color !important;
  }

  #app-logo {
    color: $light-color !important;
  }
  .card {
    background: $dark-color !important;
    border: 0.3rem solid $dark-color !important;
    box-shadow: 0 0 0.6rem $dark-color !important;
  }
}